@import "tailwindcss";

:root {
  --brand-yellow: #F6C106;
  --brand-burgundy: #510833;
  --brand-green: #0E9252;
  --background: var(--brand-burgundy);
  --foreground: var(--brand-yellow);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Acessibilidade básica de foco */
:focus-visible {
  outline: 3px solid var(--brand-green);
  outline-offset: 2px;
}
